.App {
  text-align: center;
}

@media screen and (max-width: 480px){
  .MediaCard{
    margin:20px;
    width:90%;
  }
}
@media screen and (min-width: 480px){

}
@media screen and (min-width: 480px) and ( max-width:1024px){

}